@charset "UTF-8";

body{
  line-height: 1.7;
}
#home{
  background-image: url(misatokesiki4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.big-bg h1{
  
  font-family:"HGP行書体","M S P明朝","MSPMincho",serif;
  margin-top: 45px;
}
a{
  text-decoration: none;
}
.main-nav{
  display: flex;
  margin-top: 30px;
}
.main-nav li{
  list-style: none;
  margin-left: 36px;
  font-family: serif;
}
.main-nav a{
  color: #000;
}
.main-nav a:hover{
  color: #888888;
}

header{
  display: flex;
  justify-content: space-between;
}
.wrapper{
  max-width: 1100px;
  margin: 0 auto;
}
main{
  text-align: center;
}
main h2,h3{
  font-family: serif;
}
main.wrapper{
  margin-top: 100px;
}
main h3{
  font-size: 40px;
}
article.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 20px;
}

footer{
  background:#bcbdbb;
  text-align: center;
  padding: 26px 0;
}
footer p{
  color:#000;
}